<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head></head>
<body>

<div layout:fragment="content">
    <h1 th:text="${task.taskName}" class="view-task-name">Task Reminder</h1>
    <div th:text="${{task.startTime}}" class="view-task-start-time">2016-12-10 02:40</div>
    <div th:text="${{task.duration}}" class="view-task-duration">200</div>
    <div th:text="${task.location}" class="view-task-location">Vilnius</div>
    <div th:text="${task.type}" class="view-task-type">reminder</div>
    <div class="update-task">
        <a th:href="@{/task/update/{id} (id=${task.id})}" th:text="#{task.update}">update task button</a>
    </div>
    <div class="task-delete">
        <a th:href="@{/task/delete/{id}(id=${task.id})}" th:text="#{task.delete}">delete task link</a>
    </div>
</div>

</body>
</html>