<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <!--/*@thymesVar id="allTasks" type="com.company.Tasks.Task"*/-->
        <div th:each="task : ${allTasks}" class="task-block">
            <div class="task-start-time" th:text="${{task.startTime}}">1900-01-01 </div>
            <a class="task-title"
               th:text="${task.taskName}"
               th:href="@{/task/{id}(id=${task.id})}">mano title'as</a>
        </div>

        <div class="new-task-link">
            <a th:href="@{/task/new}" th:text="#{home.newTask}">new task link</a>
        </div>
    </div>
</body>
</html>